
/* universal style */
body{
    max-width: 1600px;
    /* background-image: linear-gradient(-90deg, #479786 0%, #f1da90 35%, #ffae34 100%); */
    background-color: #f88379;
    background-image: linear-gradient(180deg, #f88379 0%, #fd9600 37%, #ffb347 100%);
}

/* font styles */

.jost{
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header style */

.header{
    max-width: 1600px;
    height: 775px;
    margin: 0 auto;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar img{
    width: 150px;
    height: 150px;
}
.menu-button{
    display: flex;
    gap: 50px;
}
.menu-button a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 700;
}
.sign-button{
    margin-left: 100px;
}
.sign-button button{
    width: 127px;
    height: 50px;
    margin-right: 40px;
    font-size: 22px;
    font-weight: 700;
    border: 3px solid black;
    border-radius: 10px;
    background-color: transparent;
}

.content-banner{
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.contents{
    display: flex;
    flex-direction: column;
}
.contents h1{
    font-size: 70px;
    font-weight: 700;
    line-height: 110.5px;
    color: rgba(71, 53, 37, 0.9);
    margin-bottom: 23px;
}
.contents p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    margin-top: 0px;
}
.content-banner img{
    width: 450px;
    height: 533px;
}
.banner-btn{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 30px;
}
.btn1 button{
    width: 140px;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(65, 60, 16, 0.87);
}
.btn2 button{
    width: 140px;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(65, 60, 16, 0.87);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: transparent;
}
/* main styles */
.first-container{
    width: 1442px;
    height: 532px;
    margin: 0 auto;
    margin-top: 271px;
    display: flex;
    align-items: center;
    gap: 84px;
}
.first-contents h1{
    font-size: 70px;
    font-weight: 700;
    color: rgba(71, 53, 37, 0.9);
    margin-bottom: 13px;
}
.first-contents p{
    font-size: 27px;
    font-weight: 400;
    color: rgba(71, 53, 37, 0.9);
    margin-top: 0;
}
.slides{
    display: flex;
    gap: 71px;
    height: 500px;
    position: relative;
}
.card, .card-top{
    width: 250px;
    height: 350px;
    border-radius: 20px;
    background-color: #FED7B4;
    background-image: linear-gradient(-180deg, #FED7B4 0%, #FFB637 100%);
    box-shadow: 0 10px 50px rgba(89, 70, 49, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-top{
    position: relative;
    top: 130px;
}
.card img{
    width: 250px;
    height: 300px;
}
.card-top img{
    width: 250px;
    height: 300px;
}

/* second-container */
.second-container{
    margin-top: 58px;
    margin-bottom: 78px;
}
.second-container h1{
    width: 520px;
    height: 202px;
    font-size: 70px;
    font-weight: 700;
    color: rgba(71, 53, 37, 0.9);
}
.menu-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.item{
    width: 380px;
    height: 515px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 25px #FDFDFD;
    border-radius: 40px;
    background-color: #FF9700;
    background-image: linear-gradient(180deg, #FF9700 0%, rgba(255, 238, 217, 0.65) 100%);
}
.item img{
    width: 320px;
    height: 320px;
}
.item h4{
    font-size: 30px;
    font-weight: 700;
    color: rgba(71, 53, 37, 0.9);
    margin: 0 0;
}
.item p{
    font-size: 15px;
    font-weight: 600;
    color: rgba(71, 53, 37, 0.9);
    margin: 0 0;
}
.item h5{
    font-size: 25px;
    font-weight: 700;
    color: rgba(71, 53, 37, 0.9);
}
/* footer style */
.footer-container{
    margin: 150px 0;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.column-1{
    width: 442px;
    height: 653px;
}
.title{
    margin-bottom: 46px;
}
.title h1{
    font-size: 70px;
    font-weight: 700;
    color: rgba(71, 53, 37, 0.9);
    margin-bottom: 25px;
}
.title h5{
    font-size: 36px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
}
.info input{
    width: 324px;
    height: 59px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin-bottom: 25px;
    padding-left: 20px;
}
.info textarea{
    width: 442px;
    height: 120px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    margin-top: 18px;
    padding-left: 20px;
    padding-top: 20px;
}
.info button{
    width: 167px;
    height: 59px;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #FF4806;
    margin-top: 61px;
}
.column-2{
    width: 264px;
    height: 512px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: rgba(58, 40, 24, 1);
    /* width: 128px;
    height: 54px; */
    font-size: 36px;
    font-weight: 400;
}
.column-3{
    width: 290px;
    height: 370px;
    display: flex;
    flex-direction: column;
}
.column-3 img{
    width: 250px;
    height: 250px;
}
.rel-link h5{
    font-size: 30px;
    font-weight: 600;
    margin-top: 21px;
    margin-bottom: 0;
}
.rel-link{
    display: flex;
    align-items: center;
}
.rel-link i{
    width: 50px;
    height: 50px;
    font-size: 50px;
    padding-right: 10px;
    margin-top: 21px;
    margin-bottom: 0;
}